:root {
  --white: #d1d6d3;
  --light-gray: #bcc0bd;
  --black: #25222b;
  --purple: #4f344e;
  --dark-purple: #3e2d51;
  --light-purple: #706589;
  --gold: #c7ac88;
  --yellow: #e8e3be;
  --brown: #bb7f71;
  --red: #e15048;
  --orange: #e69434;
  --green: #5be45a;
  --teal: #5fc787;
  --blue: #838fce;
  --indigo: #9dbbe3;
}
